---
layout: default
title: Julibee
---
<header id="home-header">
	<div class="container">
		<div>
			<h1>Julibee</h1>
			<h2>Graphic design + collaboration</h2>
		</div>
	</div>
</header>

{% include clip-paths.html %}

<!-- filter buttons -->
<section id="portfolio-block">
  <div class="container" id="filter">
    <button class="btn fil-cat" href="" data-rel="all">All</button>
    <button class="btn fil-cat" data-rel="web">Websites</button>
    <button class="btn fil-cat" data-rel="print">Print</button>
    <button class="btn fil-cat" data-rel="illustration">Illustration</button>
    <button class="btn fil-cat" data-rel="branding">Branding</button>
  </div>

  <div class="container" id="portfolio">
    {% for post in site.posts reversed %}
    <div class="item scale-anm forth all {{post.categories | sort | join: " "}} {{ post.clip }}" style="background-image: url(/assets/img/{{ post.header }});">
      <a href="{{ post.url }}" class="item-content">
        <h3>{{ post.project_title }}</h3>
      </a>
    </div>
    {% endfor %}
  </div>
</section>

<!-- services -->

<!-- about -->
    <section id="about">
      <div class="container">
        <div class="half">
          <h3>Julibee is me!</h3>
          <p>My name is Julianna Beckert. Sometimes Julie B., sometimes J.B. I enjoy developing a mutually respectful working relationship with my client-friends. What I offer is a collaboration, addressing what you need and want with my broad array of skills and experience. I do graphic design with a focus on branding, illustration, and web. I have a background in the fine arts and carpentry. I geek out hard when I get to write code. </p>
          <p>I look forward to Mondays because I like my work. It’s fun and challenging. I get to meet new people all the time and find out what they’re like to work with. We have meaningful conversations about what they do and what they aspire to. We crush deadlines. We present work that we’re proud of.</p>
          <p>Weird and wacky are my favorite qualities in work and life. My style tends towards a wackadoodle minimalism. I strongly believe that less is more, but will flood the eyes with chaos when it’s called for.</p>
        </div>
        <div class="half" id="self">
          <img src="/assets/img/jb-pic-cutout.png" alt="Julianna Beckert">
        </div>
      </div>
    </section>

    <script src="/assets/js/filter.js"></script>

