
.clip1 {
  -webkit-clip-path: url(#clip1);
  clip-path: url(#clip1);
}
.clip2 {
  -webkit-clip-path: url(#clip2);
  clip-path: url(#clip2);
}
.clip3 {
  -webkit-clip-path: url(#clip3);
  clip-path: url(#clip3);
}
.clip4 {
  -webkit-clip-path: url(#clip4);
  clip-path: url(#clip4);
}
.clip5 {
  -webkit-clip-path: url(#clip5);
  clip-path: url(#clip5);
}


.item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 200vw;
  background-color: $dk-gray-trans;
  display: flex;
  justify-content: center;
  align-items: stretch; 
  max-width: 320px;
  height: 300px;
}

.scale-anm {
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: scale(1);
}

.item-content {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  padding: 20%;
  transition: opacity 450ms ease-in-out, transform 200ms ease;
   h3 {
  color: $white;
  }
  &:hover {
    opacity: 1;
    background-color: $dk-gray-trans;
  }
}


#project-header {
  background-color: $dk-gray-trans;
  background-size: cover;
  background-position: center;
}


 .PageNavigation {
  font-size: 14px;
  position: fixed;
  bottom: 0;
}

.PageNavigation a {
  color: $white;
  background-color: $black;
  display: block;
  float: left;
  padding: 2vw;
}

.PageNavigation .next {
  text-align: right;
  float: right;
}

.project-section:nth-child(odd) {
    background: #f1f1f1;
}