---
---
@import "normalize";

//colors
$white_90: rgba(255,255,255,0.9);
$black: #000;
$pastel-green: #76e598;
$white: #fff;
$black: #000;
$pink: #457890;
$dk-gray-trans: rgba(52, 52, 52, 0.85);
$dk-green: #047951;

//fonts
$font_0: Montserrat;
$font_1: sans-serif;
$font_2: Flamenco;
$font_3: cursive;

//urls
$url_pink-blob: url(../img/blobby-pink.svg);
$url_6: url(../img/blob-green.svg);

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6, p, a, svg
%extend_1 {
  line-height: 1.4em;
  color: $black;
  transition: color 250ms ease-in-out;
}


html {
  scroll-behavior: smooth;
}
body {
  font-family: $font_0, $font_1;
}
section {
  width: 100%;
}
button {
  font-family: $font_0, $font_1;
}
 #home-icon {
  margin-right: 3%;
 }

#home-icon img{
  width: 3%;
}
nav {
  text-align: right;
  z-index: 30;
  position: fixed;
  padding: 2vw;
  top: 0;
  right: 0;
  background-color: $white_90;
}

h1 {
  font-family: $font_2, $font_3;
  font-size: 3.2em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

#home-header h1 {
  font-size: 6em;
  line-height: 0.8em;
  margin-bottom: 0.2em;
  text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black;
}

h2 {
  @extend %extend_1;
  font-size: 1.6em;
  padding-bottom: 0.8em;
}
h3 {
  @extend %extend_1;
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 0.6em;
}
h4 {
  @extend %extend_1;
}
h5 {
  @extend %extend_1;
}
h6 {
  @extend %extend_1;
}
p {
  @extend %extend_1;
  padding-bottom: 1.4em;
}
a {
  @extend %extend_1;
  &:hover {
    color: $pastel-green;
  }
}
svg {
  @extend %extend_1;
}
img {
  width: 100%;
}
header {
  padding-top: 16vh;
  height: 98vh;
}
#home-header {
    background: url(../img/blobby-pink.svg) no-repeat top -10vh left -20vw;
    background-size: 100%;
}


.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 60px 4vw;
  width: 100vw;
  max-width: 1608px;
  align-items: center;
  line-height: 0;
}

.forth, .three-forth, .third, .two-thirds, .half, .full  {
  width: 92vw;
}

.center {
  margin: 0 auto;
}
div.spacious {
  padding: 4vw;
}

.item {
  &.forth {
    height: 92vw;
  }
  &.third {
    height: 92vw;
  }
  &.half {
    height: 92vw;
  }
}

.blob {
  position: absolute;
  z-index: -10;
  top: -180px;
  left: -40%;
}
#blob {
  position: absolute;
  height: 600px;
  width: 80%;
}
#filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-bottom: 0;
}
.btn {
  background: $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  border: 2px solid $black;
  padding: 0.4em;
  font-size: .6em;
  text-transform: uppercase;
  margin: .2em;
  flex-grow: 1;
  text-align: center;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: border 250ms ease-in-out;
  &:hover {
    border: 2px solid $pastel-green;
  }
  &:focus {
    border: 2px solid $pastel-green;
  }
}

#about {
  background: $url_6 no-repeat right -10% bottom -10%;
}
#self {
}
.contact-info {
  text-align: center;
  padding: 4vw 0;
  ul li {
    width: 34px;
    margin: 8px;
    opacity: 1;
    display: inline-block;
    a svg {
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: fill 250ms ease-in-out;
      &:hover {
        fill: $dk-green;
      }
    }
  }
  a:hover {
    color: $dk-green;
  }
}
#contact {
  background-color: $pastel-green;
}
@media only screen and(min-width: 560px) {

  #home-header {
    background-position: top -40vw left -20vw;
}

  .forth, .third, .half, .two-thirds {
    width: calc(92vw / 2);
  }
  .item {
    &.forth {
      height: calc(92vw / 2);
    }
    &.third {
      height: calc(92vw / 2);
    }
    &.half {
      height: calc(92vw / 2);
    }
  }
  .btn {
    padding: 0.5em;
    font-size: .8em;
    margin: .3em;
  }
}


@media only screen and(min-width: 740px) {
  h1 {
  font-size: 4.2em;
}
  #home-header h1 {
    font-size: 10em;
  }
  h2 {
    font-size: 2.0em;
  }
  h3 {
    font-size: 1.4em;
  }
  header {
    padding-top: 33vh;
  }
  .forth {
    width: calc(92vw / 3);
    max-width: calc(536px - 2vw);
  }
  .third {
    width: calc(92vw / 3);
    max-width: calc(536px - 2vw);
  }
  .two-thirds {
    width: calc(92vw / 3 * 2);
    max-width: calc(1072px - 2vw);
  }
  .item {
    &.forth {
      height: calc(92vw / 3);
      max-height: calc(536px - 2vw);
    }
    &.third {
      height: calc(92vw / 3);
      max-height: calc(536px - 2vw);
    }
  }
}
@media only screen and(min-width: 1200px) {
  .forth {
    width: calc(92vw / 4);
    max-width: calc(402px - 2vw);
  }
  .three-forth {
    width: calc(92vw / 4 * 3);
    width: calc(1206px-4vw);
  }
  .half {
    max-width: calc(804px - 4vw);
  }
  .item.forth {
    height: calc(92vw / 4);
    max-height: calc(402px - 2vw);
  }
  .third {
    width: calc(92vw / 3);
    max-width: calc(536px - 4vw);
  }
  .two-thirds {
    width: calc(92vw / 3 * 2);
    max-width: calc(1072px - 4vw);
  }
}
@import "previews";
