<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

  {% include nav.html %}

  <section class="PageNavigation">
    {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; prev</a>
    {% endif %}
    {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">next &raquo;</a>
    {% endif %}
  </section>


  <header id="project-header" style="background-image: url(/assets/img/{{ page.header }});">
  </header>

  {{content}}

  {% include contact-footer.html %}

</body>
</html>